<div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">My Account Settings</h5>
      <div class="row mt-4">
        <div class="col-md-3">
          <div class="card bg-primary text-white">
            <div class="card-body text-center">
              <i class="fas fa-user-circle mb-2 fa-2x"></i>
              <p class="mb-0 small">eugene@minagroup.com</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bg-info text-white">
            <div class="card-body text-center">
              <i class="fas fa-key mb-2 fa-2x"></i>
              <p class="mb-0 small">ACCESS CONTROL</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bg-success text-white">
            <div class="card-body text-center">
              <i class="fas fa-code-branch mb-2 fa-2x"></i>
              <p class="mb-0 small">CODE REPOSITORIES</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card bg-warning text-white">
            <div class="card-body text-center">
              <i class="fas fa-credit-card mb-2 fa-2x"></i>
              <p class="mb-0 small">PAYMENTS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>