
  <!-- Modal pour modifier une mission, mettre a jour  -->
  {% for mission in missions %}
  <div class="modal fade" id="editMissionModal{{ mission.id }}" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Modifier la demande de frais de mission #{{ mission.id }}</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
          <form method="POST" action="{% url 'edit_mission' mission.id %}">
  
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label"> Lien Bluedesk </label>
              <input type="text" class="form-control" name="bluedesk_link" value="{{mission.bluedesk_link}}" min="0">
            </div>
            <h6 class="mt-4 mb-3">
              <b><font size="4" color="#4558c9">Lieu et techniciens</font></b>
            </h6>
            <div class="row mb-3">
              <div class="col-md-6">
                <label class="form-label">Lieu de la mission</label>
                <input type="text" class="form-control" name="location" value="{{ mission.location }}" required>
              </div>
              <div class="col-md-6">
                <label class="form-label">Technicien</label>
  
                <select class="form-control" multiple="multiple" name="techniciens" id="technicien-select-edit-{{ mission.id }}">
                  {% for technician in technicians %}
                  <option value="{{ technician.id }}" {% if technician in mission.techniciens.all %}selected{% endif %}>
                    {{technician.first_name}} {{technician.last_name}}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" name="facturation" id="facturationCheckEdit{{ mission.id }}" {% if mission.facturation %}checked{% endif %}>
              <label class="form-check-label" for="facturationCheckEdit{{ mission.id }}">
                <b><font size="4" color="#4558c9">Facturer</font></b>
              </label>
            </div>
            <div class="mb-3">
              <h6 class="mt-4 mb-3">
                <b><font size="4" color="#4558c9">Détails de la mission</font></b>
              </h6>
              <textarea class="form-control" name="mission_details" rows="3" required>{{ mission.mission_details }}</textarea>
            </div>
  
            <h6 class="mt-4 mb-3">
              <b><font size="4" color="#4558c9">Date de la mission</font></b>
            </h6>
            <div class="row mb-3">
              <div class="col-md-6">
                <label class="form-label">Date de début</label>
                <input type="date" class="form-control" name="start_date" value="{{ mission.start_date|date:'Y-m-d' }}" required>
              </div>
              <div class="col-md-6">
                <label class="form-label">Heure de début</label>
                <input type="time" class="form-control" name="start_hour" value="{{ mission.start_hour|time:'H:i' }}" required>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <label class="form-label">Date de fin</label>
                <input type="date" class="form-control" name="end_date" value="{{ mission.end_date|date:'Y-m-d' }}" required>
              </div>
              <div class="col-md-6">
                <label class="form-label">Heure de fin</label>
                <input type="time" class="form-control" name="end_hour" value="{{ mission.end_hour|time:'H:i' }}" required>
              </div>
            </div>
            
            {% for expense in mission.depenses.all %}
            <h6 class="mt-4 mb-3">
              <b><font size="4" color="#4558c9">Hébergement</font></b>
            </h6>
            <div class="row mb-3">
              <div class="col-md-6">
                <label class="form-label">Nombre de jours</label>
                <input type="number" class="form-control" name="hosting_days" min="0" value="{{ expense.hosting_days| floatformat }}">
              </div>
              <div class="col-md-6">
                <label class="form-label">Tarif nuitée (Ar)</label>
                <input type="number" class="form-control" name="overnight_rate" min="0" value="{{ expense.overnight_rate|floatformat }}">
              </div>
            </div>
            
            <h6 class="mt-4 mb-3">
              <b><font size="4" color="#4558c9">Repas</font></b>
            </h6>
            <div class="row mb-3">
              <div class="col-md-12">
                <label class="form-label">Budget repas/jour (Ar)</label>
                <input type="number" class="form-control" name="meal_costs" min="0" value="{{ expense.meal_costs | floatformat }}">
              </div>
            </div>
            
            <h6 class="mt-4 mb-3">
              <b><font size="4" color="#4558c9">Transport</font></b>
            </h6>
            <div class="mb-3">
              <label class="form-label">Moyen de transport</label>
              <select class="form-select" name="transport">
                <option value="Taxi-brousse" {% if expense.transport == "Taxi-brousse" %}selected{% endif %}>Taxi-brousse</option>
                <option value="Véhicule de société" {% if expense.transport == "Véhicule de société" %}selected{% endif %}>Véhicule de société</option>
                <option value="Avion" {% if expense.transport == "Avion" %}selected{% endif %}>Avion</option>
                <option value="Bateau" {% if expense.transport == "Bateau" %}selected{% endif %}>Bateau</option>
                <option value="À pieds" {% if expense.transport == "À pieds" %}selected{% endif %}>À pieds</option>
                <option value="Transport matériels" {% if expense.transport == "Transport matériels" %}selected{% endif %}>Transport matériels</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Coût du transport (Ar)</label>
              <input type="number" class="form-control" name="shipping_costs" min="0" value="{{ expense.shipping_costs|floatformat  }}">
            </div>
            
            <h6 class="mt-4 mb-3">
              <b><font size="4" color="#4558c9">Divers frais</font></b>
            </h6>
            <div class="mb-3">
              <label class="form-label">Description</label>
              <input type="text" class="form-control" name="various_expenses_details" value="{{ expense.various_expenses_details }}" placeholder="Description des frais divers">
            </div>
            <div class="mb-3">
              <label class="form-label">Montant (Ar)</label>
              <input type="number" class="form-control" name="various_expenses_price" min="0" value="{{ expense.various_expenses_price|floatformat }}">
            </div>
            {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary">Mettre à jour</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}