{% extends 'base.html' %}
 
{% block title %}Gestion des Frais de Mission {% endblock %}

{% block content %}

<body>
  <!-- Main Content -->
  <div class="main-content">

    <!-- En-tête de la page  -->
   {% include 'account.html' %}


    <!-- Navigation Tabs -->
    <ul class="nav nav-tabs mb-4">
      <li class="nav-item">
        <a class="nav-link {% if active_tab == 'missions' %}active{% endif %}" href="{% url 'missions' %}">
          <i class="fas fa-home me-1"></i> Accueil
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if active_tab == 'history' %}active{% endif %}" href="{% url 'history' %}">
          <i class="fas fa-history me-1"></i> Historique
        </a>
      </li>
    </ul>


    <!-- Listes des demandes de frais de mission Section -->
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Liste des Frais de Mission</h5>
       
        <div class="d-flex">
           <!--inclusion de la barre de recherche  -->
          {% include 'search_bar.html' %}

          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMissionModal">
            <i class="fas fa-plus"></i> Ajouter une demande
          </button>
        </div>
      </div>

      <!--tableau des listes des demandes de frais de missions-->
      <div class="card-body fade-in">
        <div class="table-container">
          <table class="table table-hover mission-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Lieu</th>
                <th>Technicien</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Facturation</th>
                <th>Total à payer</th>
                <th>Statut</th>
                <th>Actions</th>
              </tr>
            </thead>
            
            <tbody>
              <!-- Vue du tableau des données sur la mission -->
              {% for mission in missions %}
              <tr>
                <td>{{ mission.id }}</td>
                <td>{{ mission.location }}</td>
                <td>
                  {% for technicien in mission.techniciens.all %}
                    <span class="technicien-name" data-bs-toggle="tooltip" data-bs-placement="top" 
                          title="{{ technicien.first_name }} {{ technicien.last_name }}">
                      {{ technicien.first_name }} {{ technicien.last_name }}
                    </span><br>
                  {% empty %}
                    Aucun technicien
                  {% endfor %}
                </td>

                <td>{{ mission.start_date|date:"d F Y" }} à {{ mission.start_hour|time:"H:i" }}</td>
                <td>{{ mission.end_date|date:"d F Y" }} à {{ mission.end_hour|time:"H:i" }}</td>

                {% if mission.facturation %}
                <td><span class="badge badge-billed">Facturé</span></td>
                {% else %}
                <td><span class="badge badge-not-billed">Non facturé</span></td>
                {% endif %}

                {% for expense in mission.depenses.all %}
                <td>{{ expense.total_expenses }} Ar</td>
                {% endfor %}
                
                <!--statut de la mission-->
                <td>
                  {% if mission.status == "NEW" %}
                    <span class="badge badge-new">nouveau</span>
                  {% elif mission.status == "REFUSED" %}
                    <span class="badge badge-refused">refusée</span>
                  {% elif mission.status == "VALIDATED" %}
                    <span class="badge badge-validated">validée</span>
                  {% endif %}
                </td>
            
                <!-- Icon de valider, mise à jour, details et refuser -->
                <td class="action-icons">
                  <!-- Icone pour valider la mission -->
                  {% if user.is_authenticated and perms.fdm_app.can_validate_mission %}
                  <i class="fas fa-check-circle validate"
                    data-bs-toggle="modal"
                    data-bs-target="#validateModal"
                    data-mission-id="{{ mission.id }}"
                    title="Valider">
                  </i>
                  <i class="fas fa-times-circle refuse" 
                     data-bs-toggle="modal"  
                     data-bs-target="#refuseModal" 
                     data-mission-id="{{ mission.id }}"
                     title="Refuser">
                  </i>
                  {% endif %}
                  <i class="fas fa-info-circle details" 
                  data-bs-toggle="modal" 
                  data-bs-target="#detailModal{{ mission.id }}" 
                  title="Détails">
                  </i>

                  {% if user.is_authenticated and not perms.fdm_app.can_validate_mission %}
                  <!-- Bouton pour modifier la mission -->
                  <i class="fas fa-edit edit" 
                     data-bs-toggle="modal" 
                     data-bs-target="#editMissionModal{{ mission.id }}" 
                     title="Modifier">
                  </i>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        
        <!-- Pagination -->
        <div class="pagination-container">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              {% if missions.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ missions.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              {% endif %}
              
              {% for num in missions.paginator.page_range %}
                {% if missions.number == num %}
                  <li class="page-item active">
                    <a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">
                      {{ num }}
                    </a>
                  </li>
                {% elif num > missions.number|add:'-3' and num < missions.number|add:'3' %}
                  <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                {% endif %}
              {% endfor %}
              
              {% if missions.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ missions.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  
  <!-- Ajouter des demandes de frais de mission modals -->
      <div class="modal fade" id="addMissionModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Ajouter une demande de frais de mission</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>


  <!--lien pour une demanded'une mission -->
  {% include 'adding_new_mission.html' %}
  <!--lien fichier html pour l'edit des missions modals-->
  {% include 'edit_mission_modal.html' %}
  <!--lien pour le details des missions modals-->
  {% include 'detail_modal.html' %}
  <!--lien pour la validation et des missions modals-->
  {% include 'validation_modal.html' %}

  
</body>
</html>
{% endblock %}